In [1]:
import numpy as np
import pandas as pd
import pickle

In [14]:
with open("/Users/heogeonhyeock/Desktop/인빅_프로젝트/FC_order_distance_trafic_end22.pickle","rb") as fr:
    Trafic = pickle.load(fr)
Trafic = Trafic[["송화 -> 터미널","터미널 -> 수화"]]
Trafic

        송화 -> 터미널 터미널 -> 수화
1          514547      5390
2          514547      5390
3          514547    513833
4          514547    513833
5          514547    513833
...           ...       ...
1786343    528659    402678
1786347    528659    402678
1786348        제주        제주
1786349    302624     75620
1786354    402678      4940

[1585447 rows x 2 columns]

In [11]:
with open("/Users/heogeonhyeock/Desktop/인빅_프로젝트/FC_order_distance2.pickle","rb") as fr:
    Distance = pickle.load(fr)
Distance = Distance[["distance_송화","distance_수화","distance"]]
Distance

        distance_송화 distance_수화 distance
1           14.3362     270.613  284.949
2           14.3362     294.613  308.949
3           14.3362      32.841  47.1772
4           14.3362     64.2811  78.6173
5           14.3362     64.2811  78.6173
...             ...         ...      ...
1786343     14.3362     41.4585  55.7948
1786347     14.3362     28.4156  42.7518
1786348     14.3362     432.125  446.461
1786349     14.3362     106.525  120.861
1786354     14.3362     290.217  304.554

[1496444 rows x 3 columns]

In [9]:
with open("/Users/heogeonhyeock/Desktop/인빅_프로젝트/FC주문/FC_order.pickle","rb") as fr:
    FC_order = pickle.load(fr).reset_index(drop=True)
FC_order

,CORP_ID,REF_ORD_NO,BKG_NO,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,...,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,KX007,2021030365922551,KX007210303370934,7,20210303,35510,90001302,22400.0,2,134265392,...,1,iNEXBatch,20210303,131425,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,KX007,2021030365922951,KX007210303371080,7,20210303,35521,90001441,20900.0,1,4610261043_2,...,4,iNEXBatch,20210303,131425,50.0,N,경기도,광주시,경상남도,김해시
2,KX007,2021030365924361,KX007210303371081,7,20210303,35513,90001441,37900.0,1,4936599538_1,...,0,iNEXBatch,20210303,131425,53.0,N,경기도,광주시,경상남도,거제시
3,KX007,2021030365928921,KX007210303371205,7,20210303,35608,90001542,69800.0,1,3858391637_1,...,1,iNEXBatch,20210303,131425,6.0,N,경기도,광주시,서울특별시,서초구
4,KX007,2021030365930451,KX007210303370967,7,20210303,35551,90001341,73700.0,1,4631307460,...,1,iNEXBatch,20210303,131425,10.0,N,경기도,광주시,경기도,김포시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786369,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,16,00281,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
1786370,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,17,00316,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
1786371,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,18,00338,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
1786372,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,19,00183,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
1786373,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,20,8809641651310,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN

In [18]:
A = pd.concat([FC_order,Distance,Trafic], axis=1)
with open("FC_NEW.pickle","wb") as fw:
    pickle.dump(A, fw)
A

,CORP_ID,REF_ORD_NO,BKG_NO,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,...,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2,distance_송화,distance_수화,distance,송화 -> 터미널,터미널 -> 수화
0,KX007,2021030365922551,KX007210303370934,7,20210303,35510,90001302,22400.0,2,134265392,...,N,세종특별자치시,NaN,서울특별시,서대문구,NaN,NaN,NaN,NaN,NaN
1,KX007,2021030365922951,KX007210303371080,7,20210303,35521,90001441,20900.0,1,4610261043_2,...,N,경기도,광주시,경상남도,김해시,14.3362,270.613,284.949,514547,5390
2,KX007,2021030365924361,KX007210303371081,7,20210303,35513,90001441,37900.0,1,4936599538_1,...,N,경기도,광주시,경상남도,거제시,14.3362,294.613,308.949,514547,5390
3,KX007,2021030365928921,KX007210303371205,7,20210303,35608,90001542,69800.0,1,3858391637_1,...,N,경기도,광주시,서울특별시,서초구,14.3362,32.841,47.1772,514547,513833
4,KX007,2021030365930451,KX007210303370967,7,20210303,35551,90001341,73700.0,1,4631307460,...,N,경기도,광주시,경기도,김포시,14.3362,64.2811,78.6173,514547,513833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786369,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,16,00281,...,N,경기도,군포시,경기도,NaN,NaN,NaN,NaN,NaN,NaN
1786370,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,17,00316,...,N,경기도,군포시,경기도,NaN,NaN,NaN,NaN,NaN,NaN
1786371,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,18,00338,...,N,경기도,군포시,경기도,NaN,NaN,NaN,NaN,NaN,NaN
1786372,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,19,00183,...,N,경기도,군포시,경기도,NaN,NaN,NaN,NaN,NaN,NaN
1786373,GP001,201806270001,GP001210628546912,7,20210628,91210,90001772,NaN,20,8809641651310,...,N,경기도,군포시,경기도,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
A.to_csv("/Users/heogeonhyeock/Desktop/인빅_프로젝트/FC주문/FC_NEW.csv")